<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperaturas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="fondotemp">  
    <div class="termometro">
        <div class="temperatura" id="temperatura"><span id="tempValue">25ºC</span></div>
        <div class="temperatura" id="humedad"><span id="humValue">33%</span></div>
    </div>

    <div>
        <div class="home"><a href="../Home.html" class="btnhome"><button class="btnhome"><img src="../img/home.svg" alt="home" width="10px"><b>Home</b></button></a></div>
    </div>
        <div class="iframe-container">
        <iframe src="https://charts.mongodb.com/charts-pruebareto3-thqmgxo/public/dashboards/6630ad0d-bcfb-4059-81c6-6680b08b1404" frameborder="0"></iframe>
    <script src="js/temperaturas.js"></script>
</body>
</html>
